@using CJP.Help.Models;
@model IEnumerable<Topic>

@{
    Layout.Title = T("Help");
}

<h2>@T("Welcome to the help section")</h2>

<p>
    @T("Check out all the help pages below to find help with the item you want:")
</p>
<br/>

<ul>
    @foreach (var topic in Model)
    {
        <li>
            @Html.ActionLink(topic.Title.Text, "ListTopic", "Help", new { topic = topic.Identifier }, null)
        </li>
    }
</ul>