@using CJP.Help.Models;
@model IEnumerable<HelpItem>

@{
    Layout.Title = T("Help");
}

@using (Script.Head())
{
    <style type="text/css">
        code, pre {
	        font-family: Courier New, Lucida Console, Monospace;
	        font-size:95%;
	        color: #000000;
	        padding: 0px;
	        margin: 0px;
        }

        pre {
            border: dashed 1px #999999;
            background-color: #FFFFF0;
            margin: 10px 0;
            padding: 8px;
            overflow: auto;
        }

        #helpArea h1, #helpArea h2, #helpArea h3 {
	        border-bottom:1px dashed #e4e7dc;
	        padding-bottom: 2px;
	        margin-bottom: 8px !important;
            margin-top: 19px !important;
        }

        #helpArea p, #helpArea ul, #helpArea ol {
            margin-bottom: 5px;
        }

        ul {
            list-style:square;
        }
    </style>
}

@Html.ActionLink("« Back", "Index")

<div id="helpArea">
    @foreach (var item in Model)
    {
        <div>
            @if (!string.IsNullOrEmpty(item.Title.Text))
            {
                <h1>@item.Title</h1>
            }
            <p>
                @item.FullText
            </p>
        </div>
    }
</div>

@Html.ActionLink("« Back", "Index")